<!doctype html>
<html>
<head>
<title>YourApart</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bulma.css') }}" /> -->
<!-- <script src="{{ url_for('js.static', filename='axios.js')}}"></script> -->
<meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
{% block content %}
{% endblock %}
<footer class="footer">
    <div class="content has-text-centered">
      <p>
        this app is created by もぉもぉ.
      </p>
    </div>
  </footer>
</body>
</html>